<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      button {
        margin-left: 47%;
        cursor: pointer;
      }
      .container{
        text-align: center;
      }
      .container button{
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <h3 style="text-align: center">Login Successfully!</h3>
    <h1 style="font-size: 50px; text-align: center">Welcome to NOTES</h1>
    <div class="container">
      <form action="/notes" method="GET">
        <button>Click here!</button>
      </form>
      <form action="/logout" method="GET">
        <button>Logout</button>
      </form>
    </div>
  </body>
</html>
